image: docker:24.0.7

services:
  - docker:24.0.7-dind

stages:
  - test
  - build
  - deploy

variables:
  DOCKER_TLS_CERTDIR: ""
  DOCKER_HOST: tcp://docker:2375
  DOCKER_CERT_PATH: "/certs/client"

.build: &build
  script:
    - git submodule update --init --recursive
    - echo $CI_REGISTRY_PASSWORD | docker login -u $CI_REGISTRY_USER $CI_REGISTRY --password-stdin
    - docker build -f .docker/Dockerfile -t $CI_REGISTRY_IMAGE:${CI_COMMIT_SHORT_SHA} -t $CI_REGISTRY_IMAGE:${ENV_TAG} .
    - docker push --all-tags $CI_REGISTRY_IMAGE

before_script:
  - apk add git openssh-client
  - mkdir -p ~/.ssh && chmod 700 ~/.ssh
  - echo -e "Host *\n\tStrictHostKeyChecking no\n\n" > ~/.ssh/config
  - cp $SSH_PRIVATE_KEY ~/.ssh/id_ecdsa && chmod 0600 ~/.ssh/id_ecdsa

build-dev:
  stage: build
  variables:
    ENV_TAG: latest
  <<: *build
  only:
    - develop

build-demo:
  stage: build
  variables:
    ENV_TAG: stable
  <<: *build
  only:
    - master

build-prod:
  stage: build
  variables:
    ENV_TAG: $CI_COMMIT_TAG
  <<: *build
  rules:
    - if: $CI_COMMIT_TAG =~ /^v/
